<section class="front-section section" id="front_section">
    <div class="front-section__container container">
        <div class="front-section__inner">
            <!--#include virtual="/components/general/console/console.html" -->
            
            <!--#include virtual="/components/general/title-block/title-block.html" -->

            <p class="front-section__text">
                Just template just for web development
            </p>
        </div>
        <div class="front-section__interface interface">
            <img src="assets/images/interface_image.png" alt="interface_image">
        </div>
    </div>
</section>